<div class="container-fluid">
  <div class="mt-3">
    <div class="card">
      <dx-button
        class="btn-back"
        text="ย้อนกลับ"
        (onClick)="OnBack()"
      ></dx-button>
      <dx-form
        [formData]="_formdata"
        [colCount]="2"
        labelLocation="top"
        style="width: 98%; margin: auto; padding-top: 10px"
      >
        <dxi-item
          [colSpan]="2"
          dataField="COM_NAME"
          editorType="dxTextBox"
          [editorOptions]="{ readOnly: true, value: _formdata.COM_NAME }"
        >
          <dxo-label text="หัวข้อที่ร้องเรียน"></dxo-label>
        </dxi-item>
        <dxi-item
          [colSpan]="2"
          dataField="COM_NAME"
          editorType="dxTextBox"
          [editorOptions]="{ readOnly: true, value: _formdata.COM_IDCARD }"
        >
          <dxo-label text="รหัสบัตรประชาชน"></dxo-label>
        </dxi-item>
        <dxi-item
          [colSpan]="2"
          dataField="COM_DETAIL"
          editorType="dxTextArea"
          [editorOptions]="{ readOnly: true, value: _formdata.COM_DETAIL }"
        >
          <dxo-label text="รายละเอียด"></dxo-label>
        </dxi-item>
        <dxi-item
          [colSpan]="2"
          dataField="USER_ID"
          editorType="dxSelectBox"
          [editorOptions]="{
            readOnly: _readOnly,
            dataSource: _selectUser,
            valueExpr: 'USER_ID',
            displayExpr: 'USER_FULLNAME',
            value: _formdata.USER_ID,
          }"
        >
          <dxo-label text="ผู้กระทำความผิด"></dxo-label>
          <dxi-validation-rule
            type="required"
            message="กรุณากรอกพนักงาน"
          ></dxi-validation-rule>
        </dxi-item>
        <dxi-item
          [colSpan]="2"
          dataField="COM_USER_DETAIL"
          editorType="dxTextArea"
          [editorOptions]="{ readOnly: true, value: _formdata.COM_USER_DETAIL }"
        >
          <dxo-label
            text="รูปลักษณ์ผู้กระทำผิด(กรณีไม่รู้ชื่อผู้กระทำ)"
          ></dxo-label>
        </dxi-item>
        <dxi-item [colSpan]="2"></dxi-item>

        <dxi-item template="imageTemplate" [colSpan]="2" [visible]="_visible3">
          <dxo-label text="รูปหลักฐาน"></dxo-label>
          <div *dxTemplate="let data of 'imageTemplate'">
            <img
              *ngIf="_formdata.COM_EVIDENCE"
              [src]="_formdata.COM_EVIDENCE"
              style="
                max-width: 900px;
                max-height: 900px;
                border: 1px solid #ddd;
                border-radius: 4px;
                display: block;
              "
            />

            <span
              *ngIf="!_formdata.COM_EVIDENCE"
              style="color: #999; font-style: italic"
            >
              ไม่มีรูปภาพแสดงผล
            </span>
          </div>
        </dxi-item>
        <dxi-item template="btnActionTemplate" [colSpan]="2">
          <div style="padding-left: 20px" *dxTemplate="let data of 'btnActionTemplate'">
            <!-- <dxo-label text="หลักฐาน"></dxo-label> -->
            <dx-button
              [height]="50"
              text="ดาวน์โหลดหลักฐาน"
              [visible]="_visible3"
              (onClick)="downloadFile(_formdata.COM_EVIDENCE)"
            ></dx-button>
          </div>
          <div style="padding-bottom: 20px; padding-left: 85%">
            <dx-button
              class="btn-send"
              [height]="50"
              text="ตักเตือน"
              (onClick)="OnSendManager()"
              [visible]="_visible"
            ></dx-button>
            <dx-button
              class="btn-send"
              [height]="50"
              text="รับทราบข้อมูล"
              (onClick)="OnSubmit()"
              [visible]="_visible2"
            ></dx-button>
          </div>
        </dxi-item>
      </dx-form>
    </div>
  </div>
</div>
