<div class="container">
  <div class="grid-container" *ngIf="index === 0">
    <dx-form [formData]="formData" [disabled]="loading">
      <dxi-item

      >
        <dx-text-box
          maxLength="13"
          placeholder="รหัสบัตรประชาชน"
          [(value)]="formData.IDCARD"
        ></dx-text-box>
        <dxi-validation-rule
          type="required"
          message="กรุณากรอกรหัสบัตรประชาชน"
        ></dxi-validation-rule>
        <dxo-label [visible]="false"></dxo-label>
      </dxi-item>

      <!-- <dxi-item itemType="button">
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'signInTemplate'">
      </dxo-button-options>
    </dxi-item>

    <ng-container *dxTemplate="let item of 'signInTemplate'">
      <div>

        <span class="dx-button-text">
          <ng-container *ngIf="loading; else notLoading">
            <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
          </ng-container>
          <ng-template #notLoading>Sign In</ng-template>
        </span>
      </div>
    </ng-container> -->
    </dx-form>
    <div class="container-grid">
      <dx-button text="sign in" (onClick)="onSubmit()"></dx-button>
    </div>
  </div>
  <div *ngIf="index > 0">
    <div *ngIf="index === 1">
      <app-guest-com-list></app-guest-com-list>
    </div>
  </div>
</div>
