<div class="container-fluid">
  <div class="grid-container">
    <dx-form #myform [formData]="formData" [disabled]="loading">
      <dxi-item dataField="USER_NAME" editorType="dxTextBox">
        <dxi-validation-rule
          type="required"
          message="กรุณากรอกUSERNAME"
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="pattern"
          pattern="^[a-zA-Z0-9 ]*$"
          message="กรุณาพิมพ์ภาษาอังกฤษหรือตัวเลขเท่านั้น"
        ></dxi-validation-rule>
        <dxo-label text="Username"></dxo-label>
      </dxi-item>
      <dxi-item dataField="USER_FULLNAME" editorType="dxTextBox">
        <dxi-validation-rule
          type="required"
          message="กรุณากรอกUSERNAME"
        ></dxi-validation-rule>
        <dxo-label text="ชื่อ-สกุล"></dxo-label>
      </dxi-item>
      <dxi-item
        dataField="USER_PASS"
        editorType="dxTextBox"
        [editorOptions]="{
          mode: 'password',
        }"
      >
        <dxi-validation-rule
          type="required"
          message="กรุณากรอกรหัสผ่าน"
        ></dxi-validation-rule>
        <dxo-label text="รหัสผ่าน"></dxo-label>
      </dxi-item>
      <dxi-item
        dataField="USER_PASS_CONFIRM"
        editorType="dxTextBox"
        [editorOptions]="{
          mode: 'password',
        }"
      >
        <dxi-validation-rule
          type="required"
          message="กรุณากรอกยืนยันรหัสผ่าน"
        ></dxi-validation-rule>
        <dxo-label text="ยืนยันรหัสผ่าน"></dxo-label>
      </dxi-item>
      <dxi-item
        [colSpan]="2"
        dataField="ROLE_NAME"
        editorType="dxAutocomplete"
        [editorOptions]="{
          dataSource: _selectRole,
          valueExpr: 'ROLE_NAME',
          placeholder: 'เลือกตำแหน่งงาน หรือพิมพ์กรอกตำแหน่งใหม่...',
          minSearchLength: 0,
          showDropDownButton: true,
        }"
      >
        <dxi-validation-rule
          type="required"
          message="กรุณาเลือกหรือกรอกตำแหน่ง"
        ></dxi-validation-rule>
        <dxo-label text="ตำแหน่ง"></dxo-label>
      </dxi-item>
      <dxi-item template="btnSignIn" [colSpan]="2">
        <div
          *dxTemplate="let data of 'btnSignIn'"
          style="display: flex; align-items: center; justify-content: center"
        >
          <dx-button
            text="สร้างบัญชี"
            class="btn-add"
            (onClick)="onSubmit()"
          ></dx-button>
        </div>
      </dxi-item>
    </dx-form>
  </div>
</div>
